@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  --color-cs-primary: #09028B;
  --color-cs-secondary: #051562;
  --color-light-bg: #DFD9D9;
  --color-light-text: #000000;
  --color-dark-bg: #011627;
  --color-dark-text: #FAFAFA;
}
